@import url('https://fonts.googleapis.com/css2?family=Kapakana:wght@300..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
:root{
   --fontuno: "Kapakana", cursive;
   --fontdue: "Roboto", sans-serif;
   --fontre: "Tangerine", cursive;
   --gold: #e9b600;
   --verde: #a8b59e;
   --grigio: #2B2C28;
   --1rem: 1rem;
   --12rem: 1.2rem;
   --2rem: 2rem;
}
#message{
   text-align: center;
   font-size: 1.4rem;
   font-family: var(--fontdue);
   letter-spacing: -1px;
}
.activeBtn{
   background-color: var(--verde)!important;
}
.visibility{
   visibility: visible!important;
}
.mr10{
   margin: 10px 0 0;
}
.mr15{
   margin: 15px 0 0 0;
}
.mr20{
   margin: 20px 0 10px;
}
.mr25{
   margin: 25px 0 0 0;
}
.mr35{
   margin: 35px 0 0 0;
}
.mr65{
   margin: 65px 0 0 0;
}
.mr85{
   margin: 85px 0 0 0;
}
body{
   background-color: #f2f2f263;
   color: #2B2C28;
}
img{
   max-width: 100%;
   height: auto;
}
.sposi{
      transition: opacity 1.3s ease-in-out;
}
#addToCalendar{
   padding: 15px 20px;
   border: none;
   border-radius: 30px;
   background-color: var(--verde);
   color: white;
}

.container{
   max-width: 600px;
   margin: 0 auto;
   overflow: hidden;
   position: relative;
}
.hide{
   opacity: 0;
}
.hidden{
   visibility: hidden;
}
.translate{
   top: 55%!important;
}
.animation{
   animation: load 1.7s infinite linear;
            @keyframes load {
               0%{
                  opacity: 1;
               }
               50%{
                  opacity: 0;
               }
               100%{
                  opacity: 1;
               }
            }
}

.heart{
   line-height: 15px;
   padding: 10px;
   border-radius: 30px;
   width: max-content;
   margin: 0 auto;

}
.regalo{
   margin: 6px auto 0 auto;
   background-color: var(--gold);
   width: max-content;
   border-radius: 30px;
   display: flex;
   padding: 8px;
   text-align: center;
}

.preload{
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   cursor: pointer;
   height: 100svh;
   transition: 0.5s ease-in-out;
   background-image: url('../media/foto_custom.jpg');
   object-fit: cover;
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   z-index: 100;
   // visibility: hidden;
   // display: none;
   .container{
      position: relative;
      z-index: 10;
      .fiocco{
         position: relative;
         height: 100svh;
         .messaggio{
            position: absolute;
            top: 40%;
            left: 0%;
            width: 100%;
            text-align: center;
            color: #fff;
            transform: translateY(-50%);
            font-size: 2.5rem;
            font-family: var(--fontuno);
            img{
               max-width: 130px;
            }
         }
      }
   }
   &::after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.369);
      z-index: 1;
   }
}

.evento{
   position: absolute;
   top: 0;
   width: 100%;
   z-index: 10;
   visibility: hidden;
}

.btnIban{
   text-align: center;
   width: 80%;
   margin: 0 auto;
   font-size: 1.1rem;
   line-height: 2.5rem;
   font-weight: 600;
   position: relative;
   color: black;
   cursor: pointer;
   span{
      font-size: 1rem!important;
      font-family: var(--fontdue)!important;
   }
   .coordinate{
      display: inline-block;
   }
}
.btnConfirm{
   display: inline-block;
   padding: 20px 25px;
   background-color: var(--verde );
   border: none;
   border-radius: 30px;
   a{
      color:white;
      text-decoration: none;
   }
}
#copyBtn{
   padding: 11px 40px;
   display: inline-block;
   background-color: var(--gold);
   border: none;
   border-radius: 30px;
   font-size: 0.8rem;
   cursor: pointer;
   color: black!important;
}

.homepage{
   .container{
      .citazione{
         text-align: center;
         padding: 0 15px;
         h2{
            font-size: 1rem;
            line-height: 1.7rem;
            font-family: var(--fontdue);
         }
          span{
            font-size: 2.4rem;
            line-height: 3.4rem;
            font-family: var(--fontuno);
         }
         h1{
            font-family: var(--fontuno);
            font-size: 5.4rem;
            line-height: 3.8rem;
            color: var(--gold);
         }
         h3{
            font-family: var(--fontdue);
            font-size: 1rem;
            line-height: 1.6rem;
            color: black;
         }
         button{
            display: block;
            margin: 10px auto 0 auto;
         }
      }
      .countdown{
         padding-top: 70px;
         padding-bottom: 70px;
         .titolo{
            text-align: center;
            h2{
            font-family: var(--fontdue);
            font-size: 2rem;
            line-height: 2.6rem;
            color: black;
            }
            h3{
               font-size: 0.8rem;
               line-height: 1.2rem;
               color: var(--gold);
               font-family: var(--fontdue);
            }
         }
         #countdown{
            padding: 15px 0;
            ul{
               display: flex;
               justify-content: center;
               li{
                  list-style: none;
                  font-size: 0.9rem;
                  color: var(--verde);
                  font-family: var(--fontdue);
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  margin: 0 4px;
                  span{
                     font-size: 2.8rem;
                     line-height: 3.5rem;
                     letter-spacing: 2px;
                     margin: 0 5px;
                     font-weight: bold;
                     color: var(--grigio);
                  }
               }
            }
         }
      }
      .iconeEvento{
         padding: 20px 20px 30px 20px;
         .slotIcon{
            display: flex;
            align-items: flex-start;
            margin-bottom: 30px;
            .icona{
               width: 50px;
               height: 50px;
               background-color: var(--verde);
               padding: 12px;
               border-radius: 30px;
            }
            .textEvent{
               padding: 0px 10px;
               font-family: var(--fontdue);
               h4{
                  font-size: 0.8rem;
                  color: var(--grigio);
               }
               h2{
                  font-size: 1.2rem;
                  line-height: 1.8rem;
                  color: var(--verde);
               }
               h3{
                  font-size: 0.9rem;
                  color: var(--grigio);
               }
            }
         }
      }
      .location{
         @media screen and (min-width: 600px) {
            height: 750px;
         }
          @media screen and (max-width: 599px) {
            height: 580px;
         }
          @media screen and (max-width: 390px) {
            height: 540px;
         }
         .selezione{
            display: flex;
            align-items: center;
            justify-content: center;
            button{
               display: inline-block;
               padding: 15px 30px;
               margin: 10px;
               background-color: var(--grigio);
               color: white;
               border: none;
               border-radius: 30px;
               cursor: pointer;
            }
         }
         .mappe{
            text-align: center;
            padding: 0 20px;
            font-family: var(--fontdue);
            font-size: 1rem;
            font-weight: bold;
            .point{
               width: 40px;
               height: 40px;
               margin: 20px auto 20px auto;
               background-color: var(--verde);
               padding: 8px;
               border-radius: 30px;
            }
            .tenuta{
               position: relative;
               width: 100%;
               height: 100px;
            h1{
               font-size: 1rem;
               line-height: 1.6rem;
            }
            p{
               color: var(--verde);
               font-size: 1rem;
               line-height: 1.6rem;
            }
            h3{
               font-size: 1rem;
               line-height: 1.5rem;
            }
            }
            .geo{
               position: relative;
               height: 265px;
               img{
                  position: absolute;
                  left: 0;
                  top: 0;
                  visibility: hidden;
               }
            }
         }
      }
      footer{
         background-color: var(--verde);
         padding: 20px 10px;
         margin-top: 70px;
         .infoFooter{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .wrap{
               width: 50%;
               padding: 0 10px;
               margin-bottom: 10px;
               &:nth-child(1){
                  width: 100%;
               }
               li{
                  list-style-type: none;
                  a{
                     color: white;
                     font-family: var(--fontdue);
                     font-size: 0.8rem;
                     line-height: 1.5rem;
                     text-decoration: none;
                  }
                  b{
                     font-weight: 300;
                     font-size: 0.8rem;
                     line-height: 1.5rem;
                     color: white;
                     font-family: var(--fontdue);
                  }
               }
            }
         }
      }
   }
}
